on:
  push:
    branches:
     - main
  pull_request:
    branches:
      - main

jobs:
  action-test:
    runs-on: ubuntu-latest
    steps:
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v32
        id: verify-changed-files
        with:
          files: |
            README.md

      - name: Run step only when any of the above files change.
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          echo "Changed files: ${{ steps.verify-changed-files.outputs.changed_files }}"