on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test protected services ci
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: get changed files
        id: changed_files
        run: |
          sleep 20s
          git diff --name-only HEAD~1 > changed_files.txt